.input-styles {
  min-height: 340px;
  border-radius: 20px;
  margin-top: 30px;
}

.light-ip {
  background: #f4f5fc;
}

.dark-ip {
  background: #14171f;
}

.container__editor textarea {
  outline: 0;
}

@media (max-width: 900px) {
  .input-styles {
    min-height: 200px;
    margin-top: 0px;
  }
}
