.output-styles {
  margin-top: 30px;
  min-height: 320px;
  border-radius: 20px;
}

.light-op {
  background: #f4f5fc;
}

.dark-op {
  background: #14171f;
}

@media (max-width: 900px) {
  .output-styles {
    margin-top: 20px;
    min-height: 200px;
  }
}
