body {
  margin: 0;
}

.editor {
  display: flex;
}

.code-section {
  width: 70%;
}

.output-section {
  margin-top: 10px;
  margin-left: 50px;
  width: 40%;
}

.light {
  background-color: #e3e7ef;
  color: black;
}

.content-inner {
  padding: 50px;
}

.dark {
  background-color: #111021;
  color: #eceef2;
}

@media (max-width: 900px) {
  .editor {
    flex-direction: column;
  }
  .code-section {
    width: 100%;
  }

  .output-section {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .flex {
    flex-direction: column;
  }
  .content-inner {
    padding: 20px;
  }
}
