body {
    margin: 0;
    height: 100%;
}

.editor {
    display: flex;
}

.code-section {
    width: 70%;
}

.output-section {
    margin-top: 30px;
    margin-left: 50px;
    width: 40%;
}

.light {
    background-color: white;
    color: black;
}

.content {
    padding: 50px;
}

.dark {
    background-color: #0a0c10;
    color: #eceef2;
}

@media (max-width: 550px) {
    .flex {
        flex-direction: column;
    }
}